<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <%- include('./partials/nav') %>

    <h1>Home</h1>

    <% if(blogs.length > 0) {%>
        <% blogs.forEach(blog => {%>
            <div>
                <a href="/blogs/<%= blog._id%>" style="color: antiquewhite">
                    <h3><%= blog.title %></h3>
                </a>
                <p><%= blog.post %></p>
                <hr>
            </div>
        <% }) %>
    <% } %>
</body>
</html>